  <!-- header section starts -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{{ url_for('index') }}"> <!--gpt index olarak yazıyor-->
          <span>
            Digian
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>  <!--index yazdı-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}"> About</a> <!--about yazdı-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('service') }}">Services</a> <!--service yazdı-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>  <!--contact yazdı-->
            </li>
            {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">AdminPanel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                    {% endif %}
          </ul>
          <div class="quote_btn-container">
            <a href="" class="quote_btn">
              Get A Quote
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->