{% extends "base.html" %} 
{% block title %}Online Marketing{% endblock %}
{% block content %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-left">
                <h2>Amplify Your Brand: Unleash Success with Our Online Marketing Magic</h2>
                <p class="mb-4">
                    In the dynamic realm of online marketing, we weave magic across SEO, social media, content, email, and PPC. With our analytics wizardry, witness real-time adjustments for enchanting performance.

Engage directly through social media, captivate with irresistible content, and cast personalized email spells. Propel your brand to new heights with PPC magic on search engines.

As technology advances, stay ahead with our trend-blazing strategies. Navigate the digital realm with us, ensuring a magnetic online presence and forging genuine connections. Elevate your brand with our online marketing enchantments — where success is not just a goal; it's a magical journey!</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="{{ url_for('index') }}">Go Back To Home</a>
            </div>
            <div class="col-lg-6">
                <!-- Sağ tarafta resim kutusunu ekleyin -->
                <img src="{{ url_for('static', filename='images/s1.png') }}" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}
