{% extends "base.html" %} 
{% block title %}Services{%endblock%}
{%block content%}
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Services
        </h2>
        <p>
          Important practices that will make your organization stand out.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s1.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Link Building
              </h5>
              <p>
                With compelling content backed by strong links, we ensure your website captures your target audience's attention and secures a top spot on search engines!
              </p>
              <a href="{{ url_for('activeservice', servicename='link_building') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s2.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                On page SEO
              </h5>
              <p>
                Unleash the power of On-Page SEO to elevate your website's visibility and performance. Our expert strategies optimize every element, ensuring your content shines and your site ranks high, driving success in the digital landscape!
              </p>
              <a href="{{ url_for('activeservice', servicename='seo') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s3.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Online Marketing
              </h5>
              <p>
                Transform your business with our Online Marketing expertise. From strategic campaigns to targeted outreach, we harness the digital realm to maximize your online presence, attract your audience, and drive success for your brand!
              </p>
              <a href="{{ url_for('activeservice', servicename='online_marketing') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s4.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Email Marketing
              </h5>
              <p>
                Boost your brand with our Email Marketing expertise. Engaging campaigns, personalized messages – we connect you with your audience for lasting impact!
              </p>
              <a href="{{ url_for('activeservice', servicename='email_marketing') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s4.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Artificial Consulting
              </h5>
              <p>
                Boost your brand with our Email Marketing expertise. Engaging campaigns, personalized messages – we connect you with your audience for lasting impact!
              </p>
              <a href="{{ url_for('activeservice', servicename='artificial_consulting') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s4.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Advertisment Management
              </h5>
              <p>
                Boost your brand with our Email Marketing expertise. Engaging campaigns, personalized messages – we connect you with your audience for lasting impact!
              </p>
              <a href="{{ url_for('activeservice', servicename='advertisement_management') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/s4.png') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Influencing Brand
              </h5>
              <p>
                Boost your brand with our Email Marketing expertise. Engaging campaigns, personalized messages – we connect you with your audience for lasting impact!
              </p>
              <a href="{{ url_for('activeservice', servicename='influencing_brand') }}">
                <span>
                  Read More
                </span>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- end service section -->
  {%endblock%}